.responsiva {
  width: 100%;
  height: 10px;
  background-color: aquamarine;
}
@media screen and (max-width: 1024px) {
  .responsiva {
    height: 10px;
    background-color: aqua;
  }
}

@media screen and (max-device-width: 650px) {
  .responsiva {
    height: 10px;
    background-color: rgb(174, 0, 255);
  }
}
@media screen and (max-device-width: 500px) {
  .responsiva {
    height: 10px;
    background-color: rgb(102, 255, 0);
  }
}


