:root {
  --default-color: #6c6aad;
}

body {
  margin: 0;
  background-color: #e6ebee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  opacity: 0.5;
  color: coral;
}

.login {
  float: right;
}

#bemvindo {
  font-size: 16px;
  letter-spacing: 1.72px;
  color: #6aad6c;
  font-weight: bold;
  margin: 24px 16px;
}

.content-cats > img{
  /* border: 1px solid var(--default-color); */
  width:200px; 
  height:200px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 12px 6px;
}

img:hover {
  opacity: 0.7;
}

.more-cats {
  text-align: center;
  color: var(--default-color);
}

.content-cats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
